body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
  position: fixed;
  left: 40px;
  top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  z-index: 1;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.game-title {
    font-size: 36px;
    position: relative;
  left: calc(50% - 20px); /* Moves the title 20px to the left of the center */
  
    font-family: 'Dancing Script', cursive;

}

.yellow-tile {
    background-color: transparent;
}

input {
    margin-bottom: 30px;
}

.controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 24px;
    
}


.controls-container:hover .button {
  font-size: 24px;
  transition: font-size 0.3s ease-in-out;
  
}


.button {
    display: inline-block;
    background-color: #f8f9fa;
    font-family: 'Dancing Script', cursive;
    color: black;
    border: none;
    text-align: center;
    padding: 10px 20px;
    margin: 2px 0;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    
}



#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    border-radius: 4px;
}

.tile {
    width: 100px;
    border-radius: 4px;
    height: 100px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
