body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
}

.yellow-tile {
    background-color: transparent;
}

input {
    margin-bottom: 30px;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
