body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

h1 {
    margin-bottom: 30px;
}

.yellow-tile {
    background-color: transparent;
}

input {
    margin-bottom: 30px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 2px 0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

